.Modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}

.Modal.content-center {
  align-items: center;
  justify-content: center;
}

.Modal.content-right {
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}