.Legend {
  position: relative;
  top: -100%;
  left: 60px;
  width: 30%;
  /*height: 32px;*/
  border: 1px dashed red;
}

.Legend.wrapper {
  display: flex;
  flex-direction:column;
  border: 1px dashed green;
  padding: 0px;
  margin: 0px;
  height: auto;
}

.Legend.element {
  font-size: 1em;
  box-sizing: border-box;
  border: 1px dashed blue;
  padding: 0px;
  margin: 0px;
  height: auto;
  /*left:-10%;*/
}

