.Trands_flex {
  display: flex;          /**/
  flex-direction: column; /**/
  height: 100vh;          /**/
}

.Trands.wrapper {
  flex-grow: 3;/*блок с TViewBox`es занимает всю доступную высоту flex-контейнера*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.Trands.box {
  border: 1px dashed red;
  box-sizing: border-box;
  width: 100%;
}

.Trands.canvas {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: white;
}

.Trands.range {
  width: 100%;
}