.NavBar {
    position: absolute;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    right: 0.25rem;
    top: 0.25rem;
    display: flex;
    /*border: 1px solid red;*/
}

.NavBar:hover {
    opacity: 0.9;
}
