.legend {
  position: relative;
  top: -100%;
  left: 3px;
  width: 30%;
  border: 1px dashed red;
  line-height:70%;/*влияет на высоту элемента*/
}

.legend__item {
  font-size: 1em;
  box-sizing: border-box;
  border: 1px dashed blue;
}

