.legend {
  display: table;/*оборачивает юлок по ширене контента*/
  position: relative;
  top: -100%;
  left: 3px;
  /*border: 1px dashed red;*/
  line-height:70%;/*влияет на высоту элемента*/
  opacity: 0.7;
}

.legend__item {
  font-size: 1em;
  box-sizing: border-box;
  border: 1px dashed blue;
}

.flex_row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

