.legend {
  display: table;/*оборачивает юлок по ширене контента*/
  position: relative;
  top: -100%;
  left: 3px;
  border: 1px dashed red;
  line-height:70%;/*влияет на высоту элемента*/
  color: black;
  font-weight: bold;
  -webkit-text-stroke: 1px lightgray;
  -webkit-text-fill-color: black;
}


