.BackHistoty {
    width: 1rem;
    height: 1rem;
    /*font-size: 1rem;*/
    color: black;
    transition: opacity 0.25s ease-in;
    opacity: 0.5;
}

.BackHistoty:hover {
    opacity: 1;
}

.BackHistoty.open {
    color: red;
    left: 50px;
}